html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-container{
	background-color: #000;
	margin: 15px auto 0 auto;
	text-align: center;
	width: 1100px;
}

.blocks-container{
    margin: 7px 0;
    display: inline-block;
	overflow: hidden;
	position: relative;
    width: 100%;
}

.slant-blocks{
	clear: both;
	float: left;
	height: 450px;
	overflow: hidden;
	width: 180%;
}

.slant-blocks li{
	float: left;
	overflow: hidden;
    width: 12%;
	cursor: pointer;
	
	-webkit-transform-origin:100% 0%;
    -ms-transform-origin:100% 0%;
    transform-origin:100% 0%;
    
    -webkit-transform:skewX(-11deg);
    -ms-transform:skewX(-11deg);
    transform:skewX(-11deg);
	
	-webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.slant-blocks li.hover{
	width: 14% !important;
}

.slant-blocks li.hover .mask{
	background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.slant-blocks li.nothover{
	width: 11%;
}

.slant-blocks li *{
	-webkit-transform-origin:100% 0%;
    -ms-transform-origin:100% 0%;
    transform-origin:100% 0%;
    
    -webkit-transform:skewX(11deg);
    -ms-transform:skewX(11deg);
    transform:skewX(11deg);
}

.slant-blocks li img{
	clear: both;
	float: left;
}

.slant-blocks li .mask{
	background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 450px;
	text-align: center;
	
	-webkit-transform:skewX(0deg);
    -ms-transform:skewX(0deg);
    transform:skewX(0deg);
	
	-webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.mask .button-container{
	position: relative;
    clear: both;
    display: inline-block;
    padding: 160px 0px;
	
	-webkit-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    transform: skewX(0deg);
}

.slant-blocks li a{
	background-image: url(blue-button.png);
    background-repeat: no-repeat;
    background-position: center;
	min-width: 63px;
    width: 100%;
    height: 130px;
    position: relative;
    clear: both;
    display: inline-block;
	text-decoration: none;
	
	
	-webkit-transform: skewX(11deg);
    -ms-transform: skewX(11deg);
    transform: skewX(11deg);
}

.slant-blocks li:nth-child(2) a{
    /*left: 36%;*/
}

.slant-blocks li:nth-child(3) a{
    /*left: 35%;*/
}

.slant-blocks li:nth-child(4) a{
    /*left: 36%;*/
}

.slant-blocks li:nth-child(5) .button-container{
	padding-right: 58px;
}

.slant-blocks li a span{
    font-family: Arial;
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
	
    -webkit-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    transform: skewX(0deg);
}

@media (min-width:320px)  { 
	/* smartphones, iPhone, portrait 480x320 phones */ 
}
@media (min-width:481px)  { 
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { 
	/* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { 
	/* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1100px) { 
	.main-container{
		width: 100%;
	} 
}







